*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --cell-size: 125px;
    --mark-size: calc(var(--cell-size) * .9);
  }
  
  body {
    margin: 0;
    background-color: #9AB1E5;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  a:visited { text-decoration: none; color:#333333; }

  h1{
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-family: 'Roboto Mono', monospace;
    color: #333333;
  }

  p{
  font-family: 'Roboto', sans-serif;
  color: #333333;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  }


  .board {
    margin-top: -20vh;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
  }
  
  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3) {
    border-top: none;
  }
  
  .cell:nth-child(3n + 1) {
    border-left: none;
  }
  
  .cell:nth-child(3n + 3) {
    border-right: none;
  }
  
  .cell:last-child,
  .cell:nth-child(8),
  .cell:nth-child(7) {
    border-bottom: none;
  }
  
  .cell.x,
  .cell.c {
    cursor: not-allowed;
  }
  
  .cell.x::before,
  .cell.x::after,
  .cell.c::before {
    background-color: #153A8E ;
  }
  
  .board.x .cell:not(.x):not(.c):hover::before,
  .board.x .cell:not(.x):not(.c):hover::after,
  .board.c .cell:not(.x):not(.c):hover::before {
    background-color: #6B8ACF ;
  }
  
  .cell.x::before,
  .cell.x::after,
  .board.x .cell:not(.x):not(.c):hover::before,
  .board.x .cell:not(.x):not(.c):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
  }
  
  .cell.x::before,
  .board.x .cell:not(.x):not(.c):hover::before {
    transform: rotate(45deg);
  }
  
  .cell.x::after,
  .board.x .cell:not(.x):not(.c):hover::after {
    transform: rotate(-45deg);
  }
  
  .cell.c::before,
  .cell.c::after,
  .board.c .cell:not(.x):not(.c):hover::before,
  .board.c .cell:not(.x):not(.c):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  
  .cell.c::before,
  .board.c .cell:not(.x):not(.c):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  }
  
  .cell.c::after,
  .board.c .cell:not(.x):not(.c):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color:#9AB1E5;
    ;
  }
  
  .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }
  
  .winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid #333333;
    padding: .25em .5em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }
  
  .winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .winning-message.show {
    display: flex;
  }

  .left {
    display:inline-block;
    
    background:#9AB1E5;
  }

  .right{
    display:inline-block;
    width:-50%;
    background:#9AB1E5;
  }

  .container {
    position:relative;
    text-align:center;
  }
  

