body {
  background-color: #faf8ef;
}

h1 {
  font-size: 80px;
  line-height: 0.7;
  color: #333333;
  margin: 0px;
}
nav{
  margin-bottom: 4vw;
}

.container {
  width: 468px;
  margin: auto;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 456px;
  height: 456px;
  background-color: #6B8ACF;
  border: 7px solid #6B8ACF;
  border-radius: 6px;
  margin-top: 20px;
}

.grid div {
  width: 100px;
  height: 100px;
  margin: 7px;
  border-radius: 3px;
  background-color: #6B8ACF;
  color: #9AB1E5;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  line-height: 1.6;
}

.score-container {
  text-align: center;
  width: 70px;
  height: 60px;
  border-radius: 3px;
  background-color: #9AB1E5;
  color: #333333;
}

#score {
  font-size: 30px;
}

.score-title {
  font-size: 16px;
}

