.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 2vh;

  background-color: hsl(221, 51%, 62%);

  padding: 1.5vw 0.7vw 1.5vw 0.7vw;
}

.navbarItem {
  margin: 0vw 0.8vw 0vw 0.2vw;
  border-bottom: 2px hsl(221, 51%, 62%) solid;
}

.navbarItem:hover {
  border-bottom: 2px hsl(0, 0%, 20%) solid;
}
a:visited {
  text-decoration: none;
  color: hsl(0, 0%, 20%);
}
.navbarIcon {
  height: 3vh;
  margin-left: 0.6vw;
}

.navbarGap {
  flex-grow: 999;
}

.navbarActive {
  border-bottom: 2px hsl(0, 0%, 20%) solid;
}
